@import "tailwindcss";
@import "./logo_init.css";
@import "./navbar.css";
@import "./Home.css";

:root {
  --background: #1e323c;
  --foreground: #ffffff;
        --rogo: #4A6C7B;
        --methal: #93BFCE;
  --site-header-height: 3.5rem;
  --my-yellow:#ff0;
  --my-cyan: #0ff;
}



body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @media (max-width: 1204px) {
      /* background: #4A6C7B; */
  }
}
/* Móviles */
   

*,
*:before,
*:after {
  box-sizing:border-box;
  margin:0;
  padding:0;
  border:0;
  vertical-align:baseline;
  font-weight:inherit
}

p, li {
  line-height: 1.5rem;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.HomeFor {
    /* background-color: #1d2430; */
      margin: 0;
      padding: 0;
      height: 100%;
      scroll-snap-type: y mandatory;
      overflow-y: scroll;
      scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {

  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

