#base-nav{
    height: 4.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  @media (max-width: 1204px) {

    height: 3.0rem;
  }
}
#nav-itor{
  border-radius: 0.4rem;
    margin: 1rem;
    margin-top: 0.5rem;
    background-color: #fff;
    box-shadow: #fff 0px 5px 15px;
    position: relative;
    justify-content: space-evenly;
}
@media (min-width: 1204px) {
  #nav-itor {
    margin: 2rem;
    margin-top: 1rem;
  }
}
/*NOTE: nav LOGO*/

.nav-logo-ref{
    height: 100%;
    display: flex;
  justify-items: center;
  align-items: center;
}
#nav-logo {
  color: #ffffff;
  background-color: #000;
  padding-inline: 4rem;
  font-size: 3rem;
  font-style: oblique;
  text-shadow: #f0f0f0 0px 5px 15px;
  position: relative;
  height: 80%;
  border-radius: 0.4rem;
  box-shadow: #000 0px 5px 15px;

    display: flex;
    position: relative;
  justify-items: center;
  align-items: center;
  @media (max-width: 1204px) {
    font-size: 2rem;
  }
}
#bt-burger{
    display: none;
    z-index: 30;
  @media (max-width: 1204px) {
    display: flex;
  }
}
.bt-burger{
    position: relative;
    padding-top: 0.3rem;
}
.cont-home-nav-item-fo.bt-burger{
    height: 70%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
	pointer-events: none;
	flex-shrink: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #f00;
}

.walkerIll {
  position: absolute;
  height:10px;
  width: 10px;
  background: #ff7000bb;
  animation: walk 4s linear infinite;
  box-shadow: 0px 3px 5px 5px #ffc00066;
  border-radius: 50%;

}
.walker {
  position: absolute;
  height:10px;
  width: 10px;
  background: #0ff;
  animation: walk 4s linear infinite;
  box-shadow: 0px 3px 5px 5px #0ff6;
  border-radius: 50%;

}

@keyframes walk {
  0% {
    top: 0; left: 0;
  }
  40% {
    top: 0; left: calc(100% - 10px);
  }
  50% {
    top: calc(100% - 10px); left: calc(100% - 10px);
  }
  90% {
    top: calc(100% - 10px); left: 0;
  }
  100% {
    top: 0; left: 0;
  }
}
/*NOTE: ITEMS*/
/* Subrayado animado */
/* ITEMS select*/
#nav-item{
    display: flex;
  @media (max-width: 1204px) {
      display: none;
  }
}


.text-animado-IN {

  position: relative;
  z-index: 1;
  padding-inline: 0.5rem;
  color: #000;
        /* Text gradient background for animation */

  position: relative;
  z-index: 1;
  padding-inline: 0.5rem;
  text-shadow: #fff 0px 5px 15px;


  position: relative;
  display: inline-block;
  
  /* Estilo del texto animado */
  background: linear-gradient(135deg , #ff0000 50%,  #0ff 50%);
  background-size: 300%;
  background-position: bottom right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1.0s ease;
}
.text-animado-IN::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(135deg , #ff0000 50%,  #0ff 50%);
  background-size: 300%;
  background-position: bottom right;
  transition: background-position 2.0s ease;
}

/* Al pasar el mouse: animar ambos */
.cont-home-nav-item-fo:hover .text-animado-IN {
  background-position: top left;
  text-shadow: #f00 0px 5px 15px;
}

.cont-home-nav-item-fo:hover .text-animado-IN::after {
  background-position: top left;
}
.cont-home-nav-item-fo.active{
  background-color: #012;
  box-shadow: #0ff 0px 5px 15px;
}
.cont-home-nav-item-fo.active:hover{
  box-shadow: #f00 0px 5px 15px;
}
.cont-home-nav-item-fo.active::before{
    background-color: #630505;
}

/* NOTE: ITEMS NOT select*/
.text-animado {
  position: relative;
  z-index: 1;
  padding-inline: 0.5rem;
  color: #ffa500;
        /* Text gradient background for animation */

  position: relative;
  z-index: 1;
  padding-inline: 0.5rem;
  text-shadow: #f50 0px 5px 15px;


  position: relative;
  display: inline-block;
  
  /* Estilo del texto animado */
  background: linear-gradient(135deg , #ffee00 50%,  #ff0000 50%);
  background-size: 300%;
  background-position: bottom right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1.0s ease;
}
.text-animado::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(135deg , #ffee00 50%,  #ff0000 50%);
  background-size: 300%;
  background-position: bottom right;
  transition: background-position 2.0s ease;
}

/* Al pasar el mouse: animar ambos */
.cont-home-nav-item-fo:hover .text-animado {
  background-position: top left;
  text-shadow: #f00 0px 5px 15px;
}

.cont-home-nav-item-fo:hover .text-animado::after {
  background-position: top left;
}
.cont-home-nav-item-fo {
  border-radius: 0.4rem;
  position: relative;
  background-color: #730909;
  overflow: hidden;
  margin-inline: 0.5rem;
  padding: 0.7rem;
  padding-top: 0.4rem;
  box-shadow: #f00 0px 5px 15px;
  z-index: 0;
  /* 👇 crea stacking context explícito */
  isolation: isolate;
  transition: transform 1.0s ease;

}

.cont-home-nav-item-fo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: #000;
  transform: scaleX(0) scaleY(0);
  transform: skew(-83deg, 0) translate(-150%);
  transform-origin: top left;
  transition: transform 1.0s ease;
  z-index: -1; /* 👈 importante: por debajo del texto siempre */
}
.cont-home-nav-item-fo:hover{
  transform: scale(1.05); /* Aumenta al 110% */
  box-shadow: #fa0 0px 5px 15px;
}
.cont-home-nav-item-fo:hover::before {
  transform: scaleX(1) scaleY(1);
}

/* NOTE: CONTACT*/
#nav-contacts{
    display: flex;
  @media (max-width: 1204px) {
      display: none;
  }
}
.text-animado-ct {

  position: relative;
  z-index: 1;
  padding-inline: 0.5rem;
  --color-sct: #111120;
  color: var(--color-sct);
  text-shadow: #111111ff 0px 5px 15px;
        /* Text gradient background for animation */

  position: relative;
  z-index: 1;
  padding-inline: 0.5rem;
  text-shadow: rgba(5, 5, 20, 0.85) 0px 5px 15px;


  position: relative;
  display: inline-block;
  
  /* Estilo del texto animado */
  background: linear-gradient(135deg , #ff0000 50%,  #520 50%);
  background-size: 300%;
  background-position: bottom right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.9s ease;
}
.text-animado-ct::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(135deg , #ff0000 50%,  #841 50%);
  background-size: 300%;
  background-position: bottom right;
  transition: background-position 0.5s ease;
}

/* Al pasar el mouse: animar ambos */
#cont-home-nav-item-ct:hover .text-animado-ct {
  background-position: top left;
}

#cont-home-nav-item-ct:hover .text-animado-ct::after {
  background-position: top left;
}
#cont-home-nav-item-ct {
  border-radius: 0.4rem;
  position: relative;
  background-color: #ffa905;
  overflow: hidden;
  margin-inline: 0.5rem;
  padding: 0.7rem;
  padding-top: 0.4rem;
  box-shadow: #f0610a 0px 5px 15px;
  z-index: 0;
  /* 👇 crea stacking context explícito */
  isolation: isolate;
  transition: transform 0.3s ease; /* Transición suave */
}

#cont-home-nav-item-ct::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: #fff;
  transform: scaleX(0) scaleY(0);
  transform: skew(-83deg, 0) translate(-150%);
  transform-origin: top left;
  transition: transform 1.0s ease;
  z-index: -1; /* 👈 importante: por debajo del texto siempre */
}

#cont-home-nav-item-ct:hover {
  box-shadow: #f00 0px 5px 15px;
  transform: scale(1.05); /* Aumenta al 110% */

}
#cont-home-nav-item-ct:hover::before {
  transform: scaleX(1) scaleY(1);
}

/*NOTE: PHONE PANEL */

#NavPhone{
  position: fixed;
  display: flex;
  top: 55%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);

  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

#NavPhoneBox{
  border-radius: 0.4rem;
  position: fixed;
  width: 90%;
  height: auto;
  /* background-image: radial-gradient( closest-side,#f00,2%,transparent); */
  background-color: #fff;
  box-shadow: #fff 0px 5px 15px;
  /* padding: 0.5rem; */
  padding: 3rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
#NavPhoneItems{
    /* background-color: #2323aaaa; */
}
#NavCot{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
#NavPhoneItems li{
    /* background-color: #f00; */
    padding-block: 0.3rem;
    position: relative;
    display: flex;

  align-items: center;
  justify-content: center;
  justify-items: center;
}

#NavPhoneItems li .cont-home-nav-item-fo
{
    width: 100%;
}

@keyframes slideInLeftIN {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.entrada-desde-izquierda {
  animation: slideInLeft 0.3s ease-out forwards;
}
.salida-desde-izquierda {
  animation: slideInLeftIN 0.3s ease-out forwards;
}
