
/*NOTE: bases*/
#HTB{
    margin-top: 4%;
    height: 80%;
    width: 85%;
    display: flexbox;
    position: relative;
}

#HTT{
    /* background-color: #902; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
  @media (max-width: 1204px) {
    height: 60%;
  }

}
#HTC{
    /* background-color: #548; */
    width: 100%;
    height: 30%;
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
  @media (max-width: 1204px) {
    height: 40%;
    justify-content: center;
    align-items: end;
  }
}
/*NOTE: SUBbases*/

#HTTB{
    
    --color: #000322;
    --color1: #0eb0ff;
    background-color: var(--color);
    color: var(--color1);
    font-size: 1.8rem;
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: center;
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    padding: 2rem;
    padding-inline: 6rem;

    max-height: 95%;
    overflow-y: auto;
  @media (max-width: 1204px) {
      font-size: 1.1rem;
    width: 100%;
    height: auto;
    /* padding: 0.4rem; */
    padding-inline: 2.5rem;
  }
}
#HTTB p {
    margin-bottom: 0.6rem;
    --color1: #800d01;
    --color: #f7ae04;
    background-color: var(--color);
    color: var(--color1);
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    border-radius: 0.3rem;
    padding: 1.0rem;
    text-align: center;
    line-height: 2.4rem;
  @media (max-width: 1204px) {
    font-size: 1.14rem ;
    padding: 0.6rem;
    line-height:normal;
  }
}
.HTTBT{
    display: block;
    text-align: left;
    margin-bottom: 0.6rem;
}

#rNe{

    --color1: #000000;
    --color: #ffffff;
    background-color: var(--color);
    color: var(--color1);
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
    text-align: left;
}
#rTy{
    --color: #0b4c73;
    --color1: #08f7f7;
    background-color: var(--color);
    color: var(--color1);
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-right: 0.5rem;

}
#rTa{
        --color: #06f7b3;
    --color1: #212a3e;
    background-color: var(--color);
    color: var(--color1);
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-right: 0.5rem;

}
#rHt{    --color: #E34F26;
    --color1: #f0e3e1;
    background-color: var(--color);
    color: var(--color1);
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
}
#rCs{    
    --color1: #01a0ff;
    --color: #ffffff;
    background-color: var(--color);
    color: var(--color1);
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
}
#rVe{    
    --color: #f4b00c;
    --color1: #000;
    background-color: var(--color);
    color: var(--color1);
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin-right: 0.5rem;
}

#HTCB{
    display: grid;
    justify-content: start  ;
    align-items: start;
    justify-items: center;

}
#HTCBT{
    
--color: #fb6a01;
  --color1: #460202;
    background-color: var(--color);
    color: var(--color1);
    font-size: 1.8rem;
    text-align: center;
    text-shadow: var(--color1) 0px 2px 15px;
    box-shadow: var(--color) 5px 5px 15px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    padding: 2rem;
  /*   text-decoration-line: underline; */
  /* text-decoration-color: #970202; */
  @media (max-width: 1204px) {
      font-size: 1.2rem;
    width: 100%;
    height: auto;
  }
}

#HTCBB{
    position: relative;
    bottom: 50%;
    width: min-content;
    scale: 1.4;
  @media (max-width: 1204px) {
    scale: 1.1;
  }

}

