
#Mbase{
    /* background-color: #ff989a; */
    margin-top: 4%;
    height: 80%;
    width: 85%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}
#aNOt{
    position:relative ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85%;
    width: 60%;
  @media (max-width: 1204px) {
    width: 80%;
  }

}
#aNp{

    position: relative;
--fotb: #ffffff;
  --fotb1: #000;
    /* bottom: -10%; */
    background-color: var(--fotb);
    color: var(--fotb1);
    width: 100%;
    height: auto;
    font-size: 2.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 2rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 3px solid #000000ff; */
    backdrop-filter: blur(05px);

  @media (max-width: 1204px) {
    padding: 1.3rem;
      font-size: 1.1rem;
  }
}
#aNq{

      position: relative;
      top: -10%;
--fotb: #5b0733;
  --fotb1: #f4015c;
    background-color: var(--fotb);
    color: var(--fotb1);
    width: auto;
    height: auto;
    font-size: 2.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 1rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 2px solid #ffffff33; */
    backdrop-filter: blur(05px);
  @media (max-width: 1204px) {
    padding: 1.3rem;
      font-size: 1.1rem;
  }
}

/*NOTE: vision*/

#eNp{

    position: relative;
--fotb: #2a0435;
  --fotb1: #f9b6ff;
    /* bottom: -10%; */
    background-color: var(--fotb);
    color: var(--fotb1);
    width: 100%;
    height: auto;
    font-size: 2.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 2rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 3px solid #000000ff; */
    backdrop-filter: blur(05px);
  @media (max-width: 1204px) {
    padding: 1.5rem;
      font-size: 1.1rem;
  }
}
#eNq{

      position: relative;
      top: -10%;
--fotb: #d79fd6;
  --fotb1: #eb0bf2;
    background-color: var(--fotb);
    color: var(--fotb1);
    width: auto;
    height: auto;
    font-size: 2.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 1rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 2px solid #ffffff33; */
    backdrop-filter: blur(05px);
  @media (max-width: 1204px) {
    padding: 1.3rem;
      font-size: 1.1rem;
  }
}
/*NOTE: caracteristicas*/

#rNp{

    position: relative;
--fotb: #ece9e3;
  --fotb1: #59590d;
    bottom: -5%;
    background-color: var(--fotb);
    color: var(--fotb1);
    width: 100%;
    height: auto;
    font-size: 190%;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 1rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 3px solid #000000ff; */
    backdrop-filter: blur(05px);
  @media (max-width: 1204px) {
    padding: 0.5rem;
      font-size: 1.0rem;
  }
}
#rNq{

      position: relative;
      /* top: -5%; */
--fotb: #ece9e3;
  --fotb1: #59590d;
    background-color: var(--fotb);
    color: var(--fotb1);
    width: auto;
    height: auto;
    font-size: 2.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 1rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 2px solid #ffffff33; */
    backdrop-filter: blur(05px);
  @media (max-width: 1204px) {
    padding: 1.3rem;
      font-size: 1.1rem;
  }
}

.aHTTBT{
    display: block;
    text-align: center;
    margin-bottom: 0.6rem;
}


/*NOTE: por que elegirnos*/

#tNp{

    position: relative;
--fotb: #eeeeee;
  --fotb1: #063e3e;
    /* bottom: -15%; */
    background-color: var(--fotb);
    color: var(--fotb1);
    width: 100%;
    height: auto;
    font-size: 2.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 3rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 3px solid #000000ff; */
    backdrop-filter: blur(05px);
  @media (max-width: 1204px) {
    padding: 1.0rem;
      font-size: 1.1rem;
  }
}
#tNq{

      position: relative;
      top: -5%;
--fotb: #eeeeee;
  --fotb1: #17b7bf;
    background-color: var(--fotb);
    color: var(--fotb1);
    width: auto;
    height: auto;
    font-size: 2.2rem;
    /* font-family: 'Courier New', Courier, monospace; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    text-shadow: var(--fotb1) 0px 2px 15px;
    box-shadow: var(--fotb) 5px 5px 15px;
    padding: 2rem;
    border-radius: 5px;
    /* box-shadow: 0px 0px 30px rgba(227,228, 237, 0.37); */
    /* border: 2px solid #ffffff33; */
    backdrop-filter: blur(05px);
  @media (max-width: 1204px) {
    padding: 1.3rem;
      font-size: 1.1rem;
  }
}
